body {
  background-color: lightcoral;
}
.checkbox {
  font-size: 16px;
  font-family: fantasy;
}
.jumbotron {
  font-family: times new roman;
}
.well {
  background-color: #eee;
}
h3 {
  font-family: times new roman;
  font-weight: bold;
}
#user-input {
  font-size: 18px;
  background-color: #eee;
}
.btn {
  font-size: 20px;
  font-family: times new roman;

}
